.mainC {
  grid-area: mainC;
  background-image: url(pictures/contact\ us\ background.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  overflow: auto;
}

body {
  margin: 0;
}

.containersC {
  display: grid;
  height: 100vh;
  width: 100vw;
  grid-template-columns: 25% 25% 25% 25%;
  grid-template-rows: 10% 10% 10% 10% 10% 10% 10% 10% 10% 10%;
  grid-template-areas:
    "headr headr headr headr"
    "mainC mainC mainC mainC"
    "mainC mainC mainC mainC"
    "mainC mainC mainC mainC"
    "mainC mainC mainC mainC"
    "mainC mainC mainC mainC"
    "mainC mainC mainC mainC"
    "mainC mainC mainC mainC"
    "mainC mainC mainC mainC"
    "footr footr footr footr";
}

form {
  width: 50vw;
  font-weight: 600;
  background-color: #86baa683;
  padding: 5vh 5vw;
  border-radius: 2vh;
}

.container-contact-us {
  display: flex;
  justify-content: center;
}

#inputState {
  width: 19.5vw;
}

.the-contactus-title {
  font-family: Georgia, serif, sans-serif;
  font-size: 8vh;
  font-weight: 700;
  text-align: center;
  text-shadow: 10px 10px 5px rgb(65, 59, 59);
}

.btn {
  width: 15vw;
  display: inline-block;
  padding: 0.3em 1.2em;
  margin: 0 0.3em 0.3em 12em;
  border-radius: 2em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: #ffffff;
  background-color: #73c49a;
  text-align: center;
  transition: all 0.2s;
  border-color: #12613b;
}
.btn:hover {
  background-color: #12613b;
  border-color: #73c49a;
}

@media screen and (max-width: 600px) {
  .btn {
    width: 10em;
    display: block;
    margin: 0.2em auto;
  }
  .the-contactus-title {
    font-size: 5vh;
  }
}
